@media screen and (min-width:500px) and (max-width:1200px) {
  .pass_container {
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
      0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 800px;
    display: grid;
    align-items: center;
    gap: 4px;
  }
  #root{
    height: 100vh;
    width: 100vw;
    margin: 0;
  }
  
  button {
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;
  }
  *{
    box-sizing: border-box;
  }
  @import url();
  body {
    margin: 0;
    padding: 0;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size:x-large;
  }
  .mainContainer_col_left {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
        0 10px 10px rgba(0,0,0,0.22);
      position: relative;
      overflow: hidden;
      width: 768px;
      max-width: 100%;
      min-height: 800px;
      display: grid;
      align-items: center;
      gap: 4px;
    margin-top: 50px;
    background: url(bgimg.jpg) no-repeat center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
  }
  .mainContainer_col_right {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: 2px;
  }
  
  .main_containerMain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .mainContainer_boxdown{
    background-color: #ccc;
    padding: 15px;
    margin-top:65px;
    margin-bottom: 5px;
    text-align: center;
    width: fit-content;
    height: 100px;
  }
  .mainContainer_box_lineWithe{
    font-size: medium;
    width: fit-content;
    background-color: #f6f5f7;
    color: black;
    text-align: center;
  }
  .mainContainer_col-left.box{
    width: 90%;
    height:10%;
  }
  
  .navbar {
    max-height: fit-content;
    height:180px;
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add this line to position items at opposite ends */
    }
    
  .navbar a {
    text-align: center;
  
    color: black;
    text-decoration: none;
    font-size: 38px;
    flex: 1; /* Add this line to distribute remaining space evenly */
    }
    
  .navbar .login {
    order: 2; /* Move the login element to the right */
    }
    
  .navbar .logo {
    order: 0; /* Move the logo element to the left */
    }
  
    .mainContainer_box {
      background-color: #ccc;
      padding: 15px;
      margin-bottom: 5px;
      width: 800px;
      height: 800px;
    }
    
    .baner {
      background: #1a1a1a;
      height: 200px;
      width: auto;
      padding: 10px 10%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
    }
    
    .baner ul {
      width: 100%;
      text-align: right;
    }
    
    .baner ul li {
      display: inline-block;
      list-style: none;
      margin: 10px 20px;
    }
    
    .baner ul li a {
      text-decoration: none;
      color: #fff;
    }
    .logo img {
      height: 50px;
    }
    
    nav ul {
      list-style: none;
      display: flex;
    }
    
    nav li {
      margin: 0 10px;
    }
    
    nav a {
      color: #fff;
      text-decoration: none;
    }
    
    .button {
      padding: auto;
      align-items: center;
      margin: auto;
      width: 480px;
      height: 120px;
      display: flex;
    }
  
    .mainContainer_opinions{
      margin-top:20px;
      margin-left: 38px;
      position: absolute;
      width: 702px;
      height: 307px;
      align-items: center;
      background: #D9D9D9;
      border-radius: 13px;
      }
      .mainContainer_circle_opinions{
      position: absolute;
      width: 60px;
      height: 60px;
      border-radius: 35px;
      background: #FF0000;
      margin-top: 24px;
      margin-left: 13px;
      }
      .mainContainer_name_opinions{
      position: absolute;
      width: 261px;
      height: 29px;
      font-family: 'font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      /* identical to box height */
      margin-top: 35px;
      margin-left: 88px;
      display: flex;
      align-items: center;
      color: #000000;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
      
      .mainContainer_stars{
          margin-top: 24px;
          margin-left: 371px;
      }
      .mainContainer_stars2{
        margin-top: 24px;
        margin-left: 371px;
    }
      .checked {
          color: orange;
      }
      
      .mainContainer_bg_text_opinions{
      position: relative;
      width: 676px;
      height: 182px;
      margin-bottom: 90px;
      margin-left: 13px;
      background: #FFFFFF;
      }
      
      .mainContainer_opinions_lineWithe{
        position: relative;
        align-items: center;
        width:780px;
        background-color: #f6f5f7;
        color: black;
        text-align: center;
      }
  
      .mainContainer_opinions2{
        margin-top:340px;
        margin-left: 38px;
        position: absolute;
        width: 702px;
        height: 307px;
        align-items: center;
        background: #D9D9D9;
        border-radius: 13px;
        }
        .mainContainer_circle_opinions2{
        position: absolute;
        width: 60px;
        height: 60px;
        border-radius: 35px;
        background: purple;
        margin-top: 24px;
        margin-left: 13px;
        }
        .mainContainer_name_opinions2{
        position: absolute;
        width: 261px;
        height: 29px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        /* identical to box height */
        margin-top: 35px;
        margin-left: 88px;
        display: flex;
        align-items: center;
        color: #000000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .mainContainer_bg_text_opinions2{
        position: relative;
        width: 676px;
        height: 182px;
        margin-top:25px;
        margin-left: 13px;
        background: #FFFFFF;
        }
  
    .login{
      background: #FF416C;
      background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
      background: linear-gradient(to right, #FF4B2B, #FF416C);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 0;
      color: #FFFFFF;
      border-radius: 5px;
      text-decoration: none;
    }
    
    main {
      padding: 20px;
    }
    
    .containerSupport {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
        0 10px 10px rgba(0,0,0,0.22);
      position: relative;
      overflow: hidden;
      width: 768px;
      max-width: 100%;
      min-height: 800px;
      display: grid;
      align-items: center;
      gap: 4px;
    }
    
    .containerSupport p{
      margin-left: 50px;
      text-align: center;
    }
    h1 {
      text-align: center;
    }
    
    form {
      display: grid;
      gap: 10px;
    }
    
    label {
      font-weight: bold;
    }
    
    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type="submit"]:hover {
      background-color: #45a049;
    }
  
    .why_Container{
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
          0 10px 10px rgba(0,0,0,0.22);
        position: relative;
        overflow: hidden;
        width: 768px;
        max-width: 100%;
        min-height: 800px;
        display: grid;
        align-items: center;
        gap: 4px;
    }
  
  .why_text_mark{
    text-align: center;
  }
  .why_text_main{
    text-align: center;
  }
  
  .supportInfo_box{
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
      0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 800px;
    display: grid;
    align-items: center;
    gap: 4px;
  }
  .supportInfo_text{
    text-align: center;
  }
  .supportInfo_text_main{
    text-align: center;
  }
  
  .supportInfo_icons_box{
    align-items: center;
    justify-content: space-between;
    position: relative; 
  }
  
  .Info_container{
          max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
          0 10px 10px rgba(0,0,0,0.22);
        position: relative;
        overflow: hidden;
        width: 768px;
        max-width: 100%;
        min-height: 800px;
        display: grid;
        align-items: center;
        gap: 4px;
  }
  
  .info_text_main{
    text-align: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10 10 10 10;
  }
  
  .containerfortextline{
        max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
        0 10px 10px rgba(0,0,0,0.22);
      position: relative;
      overflow: hidden;
      width: 768px;
      max-width: 100%;
      min-height: 800px;
      display: grid;
      align-items: center;
      gap: 4px;
  }
  
  .fortext_one_title{
    color:#6772e5;
  }
  .fortext_duo_title{
    color:#f76e58;
  }
  .fortext_tree_title{
    color:#98df76;
  }
  .fortext_for_title{
    color:#87bbfd;
  }
  .fortext_one_text,
  .fortext_duo_text,
  .fortext_tree_text,
  .fortext_for_text{
    text-align: center;
  }
  .containerimgmoreicons{
    text-align: center;
  }
  .footer{
    text-align: center;

    display:flex;
    flex-direction: column;
    background-color:black;
    height: 100px;
    color: white;
    font-size: 15px;
    width:auto;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .pass_container{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
      0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 800px;
    display: grid;
    text-align: center;
    align-items: center;
    gap: 4px;
  }
  #root{
    height: 100vh;
    width: 100vw;
    margin: 0;
  }
  
  button {
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;
  }
  *{
    box-sizing: border-box;
  }
  @import url();
  body {
    margin: 0;
    padding: 0;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size:x-large;
  }
  .mainContainer_col_left {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
        0 10px 10px rgba(0,0,0,0.22);
      position: relative;
      overflow: hidden;
      width: 768px;
      max-width: 100%;
      min-height: 800px;
      display: grid;
      align-items: center;
      gap: 4px;
    margin-top: 50px;
    background: url(bgimg.jpg) no-repeat center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
  }
.navbar img{
  scale: 50%;
}
  .mainContainer_col_right {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: 2px;
  }
  
  .main_containerMain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .mainContainer_boxdown{
    background-color: #ccc;
    padding: 15px;
    margin-top:65px;
    margin-bottom: 5px;
    text-align: center;
    width: fit-content;
    height: 100px;
  }
  
  .mainContainer_grey{
    margin:1px;
    background-color: #555;
    width: max-content;
    height: 110px;
  }
  .mainContainer_box_lineWithe{
    width: fit-content;
    background-color: #f6f5f7;
    color: black;
    text-align: center;
  }
  .mainContainer_col-left.box{
    width: 90%;
    height:10%;
  }
  
  .navbar {
    max-height: fit-content;
    height:180px;
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add this line to position items at opposite ends */
    }
    
  .navbar a {
    text-align: center;
  
    color: black;
    text-decoration: none;
    font-size: 38px;
    flex: 1; /* Add this line to distribute remaining space evenly */
    }
    
  .navbar .login {
    order: 2; /* Move the login element to the right */
    }
    
  .navbar .logo {
    order: 0; /* Move the logo element to the left */
    }
  
    .mainContainer_box {
      background-color: #ccc;
      padding: 15px;
      margin-bottom: 5px;
      width: 800px;
      height: 800px;
    }
    
    .baner {
      background: #1a1a1a;
      height: 200px;
      width: auto;
      padding: 10px 10%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
    }
    
    .baner ul {
      width: 100%;
      text-align: right;
    }
    
    .baner ul li {
      display: inline-block;
      list-style: none;
      margin: 10px 20px;
    }
    
    .baner ul li a {
      text-decoration: none;
      color: #fff;
    }
    .logo img {
      height: 50px;
    }
    
    nav ul {
      list-style: none;
      display: flex;
    }
    
    nav li {
      margin: 0 10px;
    }
    
    nav a {
      color: #fff;
      text-decoration: none;
    }
    
    .button {
      padding: auto;
      align-items: center;
      margin: auto;
      width: 480px;
      height: 120px;
      display: flex;
    }
  
    .mainContainer_opinions{
      margin-top:20px;
      margin-left: 38px;
      position: absolute;
      width: 702px;
      height: 307px;
      align-items: center;
      background: #D9D9D9;
      border-radius: 13px;
      }
      .mainContainer_circle_opinions{
      position: absolute;
      width: 60px;
      height: 60px;
      border-radius: 35px;
      background: #FF0000;
      margin-top: 24px;
      margin-left: 13px;
      }
      .mainContainer_name_opinions{
      position: absolute;
      width: 261px;
      height: 29px;
      font-family: 'font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      /* identical to box height */
      margin-top: 35px;
      margin-left: 88px;
      display: flex;
      align-items: center;
      color: #000000;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
      
      .mainContainer_stars{
          margin-top: 24px;
          margin-left: 371px;
      }
      .mainContainer_stars2{
        margin-top: 24px;
        margin-left: 371px;
    }
      .checked {
          color: orange;
      }
      
      .mainContainer_bg_text_opinions{
      position: relative;
      width: 676px;
      height: 182px;
      margin-bottom: 90px;
      margin-left: 13px;
      background: #FFFFFF;
      }
      
      .mainContainer_opinions_lineWithe{
        position: relative;
        align-items: center;
        width:780px;
        background-color: #f6f5f7;
        color: black;
        text-align: center;
      }
  
      .mainContainer_opinions2{
        margin-top:340px;
        margin-left: 38px;
        position: absolute;
        width: 702px;
        height: 307px;
        align-items: center;
        background: #D9D9D9;
        border-radius: 13px;
        }
        .mainContainer_circle_opinions2{
        position: absolute;
        width: 60px;
        height: 60px;
        border-radius: 35px;
        background: purple;
        margin-top: 24px;
        margin-left: 13px;
        }
        .mainContainer_name_opinions2{
        position: absolute;
        width: 261px;
        height: 29px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        /* identical to box height */
        margin-top: 35px;
        margin-left: 88px;
        display: flex;
        align-items: center;
        color: #000000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .mainContainer_bg_text_opinions2{
        position: relative;
        width: 676px;
        height: 182px;
        margin-top:25px;
        margin-left: 13px;
        background: #FFFFFF;
        }
  
    .login{
      background: #FF416C;
      background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
      background: linear-gradient(to right, #FF4B2B, #FF416C);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 0;
      color: #FFFFFF;
      border-radius: 5px;
      text-decoration: none;
    }
    
    main {
      padding: 20px;
    }
    
    .containerSupport {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
        0 10px 10px rgba(0,0,0,0.22);
      position: relative;
      overflow: hidden;
      width: 768px;
      max-width: 100%;
      min-height: 800px;
      display: grid;
      align-items: center;
      gap: 4px;
    }
    
    .containerSupport p{
      margin-left: 50px;
      text-align: center;
    }
    h1 {
      text-align: center;
    }
    
    form {
      display: grid;
      gap: 10px;
    }
    
    label {
      font-weight: bold;
    }
    
    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type="submit"]:hover {
      background-color: #45a049;
    }
  
    .why_Container{
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
          0 10px 10px rgba(0,0,0,0.22);
        position: relative;
        overflow: hidden;
        width: 768px;
        max-width: 100%;
        min-height: 800px;
        display: grid;
        align-items: center;
        gap: 4px;
    }
  
  .why_text_mark{
    text-align: center;
  }
  .why_text_main{
    text-align: center;
  }
  
  .supportInfo_box{
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
      0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 800px;
    display: grid;
    align-items: center;
    gap: 4px;
  }
  .supportInfo_text{
    text-align: center;
  }
  .supportInfo_text_main{
    text-align: center;
  }
  
  .supportInfo_icons_box{
    align-items: center;
    justify-content: space-between;
    position: relative; 
  }
  
  .Info_container{
          max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
          0 10px 10px rgba(0,0,0,0.22);
        position: relative;
        overflow: hidden;
        width: 768px;
        max-width: 100%;
        min-height: 800px;
        display: grid;
        align-items: center;
        gap: 4px;
  }
  
  .info_text_main{
    text-align: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10 10 10 10;
  }
  
  .containerfortextline{
        max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
        0 10px 10px rgba(0,0,0,0.22);
      position: relative;
      overflow: hidden;
      width: 768px;
      max-width: 100%;
      min-height: 800px;
      display: grid;
      align-items: center;
      gap: 4px;
  }
  
  .fortext_one_title{
    color:#6772e5;
  }
  .fortext_duo_title{
    color:#f76e58;
  }
  .fortext_tree_title{
    color:#98df76;
  }
  .fortext_for_title{
    color:#87bbfd;
  }
  .fortext_one_text,
  .fortext_duo_text,
  .fortext_tree_text,
  .fortext_for_text{
    text-align: center;
  }
  .containerimgmoreicons{
    text-align: center;
  }
  .footer{
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    display:flex;
    background-color:black;
    height: 120px;
    color: white;
    font-size: 15px;
    width:100vw;
  }
  #root{
    height: 100vh;
    width: 100vw;
    margin: 0;
    scroll-behavior: smooth;
  }
}


@media screen and (max-width: 500px) {
  #root{
    height: 100vh;
    width: 100vw;
    margin: 0;
    scroll-behavior: smooth;
  }
  .pass_container{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
      0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 800px;
    display: grid;
    text-align: center;
    align-items: center;
    gap: 4px;
  }
  #root{
    height: 100vh;
    width: 100vw;
    margin: 0;
  }
  
  button {
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;
  }
  *{
    box-sizing: border-box;
  }
  @import url();
  body {
    margin: 0;
    padding: 0;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size:x-large;
  }
  .mainContainer_col_left {
    font-size: 0.4em;
    height: auto;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 80%;
    max-width: 100%;
    /* min-height: 800px; */
    /* display: grid; */
    align-items: center;
    gap: 4px;
    margin-top: 50px;
    background: url(../src/bgimg.jpg) no-repeat;
    background-size: 100%;
    flex: 1 1;
    /* display: flex; */
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-right: 2px; */
}
  .mainContainer_col_right {
    flex: 1;
    /* display: flex; */
    justify-content: center;
    margin-left: 2px;
  }
  
  .main_containerMain {
    display: block;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  .mainContainer_boxdown {
    background-color: #ccc;
    padding: 15px;
    margin-top: 65px;
    margin-bottom: 5px;
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
  }

  .mainContainer_boxdown p {
    font-size: small;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
  }
  
  .mainContainer_grey {
    font-size: smaller;
    /* margin: 1px; */
    /* width: 100%; */
    /* height: 110px; */
}
  .mainContainer_box_lineWithe{
    width: fit-content;
    background-color: #f6f5f7;
    color: black;
    text-align: center;
  }
  .mainContainer_col-left.box{
    width: 90%;
    height:10%;
  }
  
  .navbar {
    max-height: fit-content;
    height:180px;
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add this line to position items at opposite ends */
    }
    
  .navbar a {
    text-align: center;
    width: 20%;
    color: black;
    text-decoration: none;
    font-size: 38px;
    flex: 1; /* Add this line to distribute remaining space evenly */
    }
    
  .navbar .login {
    order: 2; /* Move the login element to the right */
    }
    
  .navbar .logo {
    order: 0; /* Move the logo element to the left */
    }
  
    .mainContainer_box {
      background-color: #ccc;
      padding: 15px;
      font-size: small;
      margin-bottom: 5px;
      /* width: 100%; */
      /* height: 100%; */
  }
    
    nav ul {
      list-style: none;
      display: flex;
    }
    
    nav li {
      margin: 0 10px;
    }
    
    nav a {
      color: #fff;
      text-decoration: none;
    }
    
    .button {
      padding: auto;
      align-items: center;
      margin: auto;
      width: 480px;
      height: 120px;
      display: flex;
    }
  
    .mainContainer_opinions {
      margin-top: 20px;
      /* margin-left: 38px; */
      /* position: absolute; */
      width: 100%;
      height: 307px;
      align-items: center;
      background: #D9D9D9;
      border-radius: 13px;
  }
  .mainContainer_circle_opinions {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 35px;
    background: #FF0000;
    margin-top: 24px;
    margin-left: 13px;
  }
  .mainContainer_name_opinions {
    position: absolute;
    /* width: 261px; */
    height: 29px;
    font-family: 'font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;';
    font-style: normal;
    font-weight: 400;
    /* font-size: 24px; */
    line-height: 29px;
    margin-top: 25px;
    margin-left: 50px;
    /* display: flex; */
    align-items: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
      
.mainContainer_stars {
  margin-top: 5px;
  margin-left: 160px;
}
      .mainContainer_stars2{
        margin-top: 24px;
        margin-left: 371px;
    }
      .checked {
          color: orange;
      }
      
      .mainContainer_bg_text_opinions{
      position: relative;
      /* width: 676px; */
      height: 182px;
      margin-bottom: 90px;
      margin-left: 13px;
      background: #FFFFFF;
      }
      
      .mainContainer_opinions_lineWithe {
        position: relative;
        align-items: center;
        /* width: 780px; */
        background-color: #f6f5f7;
        color: black;
        text-align: center;
    }
  
      .mainContainer_opinions2{
        margin-top:340px;
        position: absolute;
        width: 702px;
        height: 307px;
        align-items: center;
        background: #D9D9D9;
        border-radius: 13px;
        }
        .mainContainer_circle_opinions2{
        position: absolute;
        width: 60px;
        height: 60px;
        border-radius: 35px;
        background: purple;
        margin-top: 24px;
        margin-left: 13px;
        }
        .mainContainer_name_opinions2{
        position: absolute;
        width: 261px;
        height: 29px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        /* identical to box height */
        margin-top: 35px;
        margin-left: 88px;
        display: flex;
        align-items: center;
        color: #000000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .mainContainer_bg_text_opinions2{
        position: relative;
        width: 676px;
        height: 182px;
        margin-top:25px;
        margin-left: 13px;
        background: #FFFFFF;
        }
  
    .login{
      background: #FF416C;
      background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
      background: linear-gradient(to right, #FF4B2B, #FF416C);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 0;
      color: #FFFFFF;
      border-radius: 5px;
      text-decoration: none;
    }    
    .containerSupport {
      max-width: 400px;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
        0 10px 10px rgba(0,0,0,0.22);
      position: relative;
      overflow: hidden;
      width: 768px;
      max-width: 100%;
      min-height: 800px;
      display: grid;
      align-items: center;
      gap: 4px;
    }
    
    .containerSupport p{
      margin-left: 50px;
      text-align: center;
    }
    h1 {
      text-align: center;
    }
    
    form {
      display: grid;
      gap: 10px;
    }
    
    label {
      font-weight: bold;
    }
    
    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type="submit"]:hover {
      background-color: #45a049;
    }
  
    .why_Container{
        max-width: 400px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
          0 10px 10px rgba(0,0,0,0.22);
        position: relative;
        overflow: hidden;
        width: 768px;
        max-width: 100%;
        min-height: 800px;
        display: grid;
        align-items: center;
        gap: 4px;
    }
  
  .why_text_mark{
    text-align: center;
  }
  .why_text_main{
    text-align: center;
  }
  
  .supportInfo_box{
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
      0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 800px;
    display: grid;
    align-items: center;
    gap: 4px;
  }
  .supportInfo_text,
  .supportInfo_text_main{
    text-align: center;
  }  
  .supportInfo_box img{
    width: 300px;
  }
  
  .Info_container{
          max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
          0 10px 10px rgba(0,0,0,0.22);
        position: relative;
        overflow: hidden;
        width: 768px;
        max-width: 100%;
        min-height: 800px;
        display: grid;
        align-items: center;
        gap: 4px;
  }
  
  .info_text_main{
    text-align: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10 10 10 10;
  }
  
  .containerfortextline{
        max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
        0 10px 10px rgba(0,0,0,0.22);
      position: relative;
      overflow: hidden;
      width: 768px;
      max-width: 100%;
      min-height: 800px;
      display: grid;
      align-items: center;
      gap: 4px;
  }
  
  .fortext_one_title{
    color:#6772e5;
  }
  .fortext_duo_title{
    color:#f76e58;
  }
  .fortext_tree_title{
    color:#98df76;
  }
  .fortext_for_title{
    color:#87bbfd;
  }
  .fortext_one_text,
  .fortext_duo_text,
  .fortext_tree_text,
  .fortext_for_text{
    text-align: center;
  }
  .containerimgmoreicons{
    text-align: center;
  }
  .footer{
    text-align: center;
    display:flex;
    flex-direction: column;
    background-color:black;
    height: 120;
    color: white;
    font-size: 15px;

    width:auto;

  }

  .footer span {
    margin-top:5px;
  }
}
