.App {
  text-align: center;
}

body {
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a.active {
  font-weight: bold;
  color: black;
}

.type {
  margin: 20px auto auto auto;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  font-size: 0.8em;
  width: 30%;
}

.Next {
  margin: 80px auto auto auto;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  min-width: 150px;
  background-color: whitesmoke;
}

.Next:hover {
  background-color: black;
  color: white;
  font-weight: bold;
  box-shadow: 5px 5px 5px 2px rgb(185, 179, 179);
}

.type:hover {
  box-shadow: 5px 5px 5px 2px rgb(185, 179, 179);
}

.detailsContainer {
  display: grid;
  grid-template-areas: 
  'type people'
  'date time';
  font-size: 0.8em;
  padding: 100px 100px 50px 100px;
  gap: 10px;
}

.confirmType {
  grid-area: type;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
}
.confirmPeople {
  grid-area: people;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
}
.confirmDate {
  grid-area: date;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
}
.confirmTime {
  grid-area: time;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
}

.customerDetails {
  display: grid;
  grid-template-areas: 
  'firstName lastName'
  'email email'
  'phone phone';
}

@media screen and (max-width: 1200px) {
  .restaurantImage {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .bookingForm {
    display: flex;
  }
  .NavBar a {
    display: block;
    margin-top: 10px;
  }
  
  .typeContainer {
    margin-top: 10%;
  }
  .type {
    width: 80%;
    margin-top: 10%;
  }
}

.NavBar {
  display: 'inline-block';
  text-align: 'center';
  margin-top: 10%;
  font-size: 0.8em;
}

.footer {
  position: absolute;
  bottom: -5%;
  width: 100%;
}
